@import "tailwindcss";

:root {
  /* Color Palette */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary: #CE7659;
  --color-dark: #1F1F1F;

  /* Fonts */
  --font-heading: 'Geist Mono', monospace;
  --font-body: 'Inter', sans-serif;

  /* Layout */
   --spacing-container: 1.5rem;
}

@layer base {
  html {
    font-family: var(--font-body);
    background-color: var(--color-black);
    color: var(--color-white);
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4 {
    font-family: var(--font-heading);
  }

  body {
    margin: 0;
    padding: 0;
  }

  section {
    padding-left: var(--spacing-container);
    padding-right: var(--spacing-container);
  }
}

@layer utilities {
  .section-container {
    padding-left: var(--spacing-container);
    padding-right: var(--spacing-container);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
